.app-timeline-item {
  display: flex;
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  position: relative;
  margin: 10px 0;
  width: calc(50% - 30px);
}

.app-timeline-item-content {
  box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14),
    0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: relative;
  width: 400px;
  max-width: 70%;
}

.app-timeline-item-content::after {
  content: ' ';
  background-color: #333333;
  position: absolute;
  left: -7.5px;
  top: calc(50% - 7.5px);
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
}

.app-timeline-item-content-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-timeline-item-content-title,
.app-timeline-item-content time {
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.app-timeline-item-content-subtitle {
  color: white;
  font-size: 13px;
}

.app-timeline-item-content li {
  color: white;
}

.app-timeline-item-content p {
  font-size: 16px;
  line-height: 24px;
  margin: 4px 0;
  max-width: 300px;
  text-align: left;
}

.app-timeline-item-content .app-timeline-item-circle {
  background-color: #1d1d1d;
  border: 3px solid #777777;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  left: -43px;
  width: 20px;
  height: 20px;
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .app-timeline-item:nth-child(even) {
    align-self: flex-start;
    justify-content: flex-end;
    padding-left: 0;
    padding-right: 30px;
  }

  .app-timeline-item:nth-child(even) .app-timeline-item-content::after {
    right: -7.5px;
    left: auto;
  }

  .app-timeline-item:nth-child(even)
    .app-timeline-item-content
    .app-timeline-item-circle {
    right: -43px;
    left: auto;
  }
}

@media only screen and (max-width: 1023px) {
  .app-timeline-item-content-header {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 767px) {
  .app-timeline-item {
    width: calc(100% - 30px);
    justify-content: unset;
  }

  .app-timeline-item-content {
    max-width: 100%;
  }

  .app-timeline-item:nth-child(even) {
    justify-content: unset;
  }
  .app-timeline-item-content .app-timeline-item-circle {
    left: -41px;
  }
}
