.app-container .app-main {
  padding: 24px;
  background: #1d1d1d;
  opacity: 1;
  overflow: auto;
}

.app-container.light .app-main {
  background: #f1f1f1;
}

@media only screen and (max-width: 767px) {
  .app-container .app-main.nav-open {
    height: 0;
    overflow: hidden;
    padding: 0;
  }
}
