.experience-heading {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #f1f1f1;
}

.app-container.light .experience-heading {
  color: #1d1d1d;
}

.experience-heading > span {
  font-size: 32px;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .experience-heading {
    justify-content: flex-start;
  }
}
