.app-container .app-header-container {
  display: flex;
  flex-direction: column;

  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.app-container .app-header-container .app-header {
  height: 72px;
  display: grid;
  grid-template-columns: 192px auto;
  padding: 0 1rem;
  align-items: center;
  background: #181818;
}

.app-container.light .app-header-container .app-header {
  background: #e8e8e8;
}

.app-header-container .app-header-nav {
  display: none;
}

.app-header > .app-title {
  cursor: pointer;
  font-size: large;
  color: #f1f1f1;
  font-weight: bold;
}

.app-container.light .app-header > .app-title {
  color: #1d1d1d;
}

.app-header > .app-header-extras {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-header-extras > .app-by {
  font-size: small;
}

.app-header-extras > .app-header-clock {
  color: #f1f1f1;
}

.app-container.light .app-header-extras > .app-header-clock {
  color: #1d1d1d;
}

.app-header-extras > .app-header-extras-tools {
  display: flex;
  align-items: center;
}

.app-header-extras .app-header-theme-toggle {
  margin: 0 1rem;
  cursor: pointer;
  fill: #f1f1f1;
}

.app-container.light .app-header-extras .app-header-theme-toggle {
  fill: #1d1d1d;
}

.app-header-extras .app-header-nav-toggle {
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 767px) {
  .app-header-container .app-header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #181818;
    height: calc(100vh - 72px);
  }

  .app-container.light .app-header-container .app-header-nav {
    background: #e8e8e8;
  }

  .app-header-nav > .app-header-nav-actions {
    display: flex;
    flex-direction: column;
    max-width: 400px;
  }

  .app-header-nav > .app-header-nav-actions > .app-header-nav-action {
    display: grid;
    grid-template-columns: 48px min-content;
    padding: 6px;
    height: 48px;
    align-items: center;
    justify-items: center;
    color: #f1f1f1;
    font-size: larger;
    text-decoration: none;
    transition: color 0.3s ease-in;
  }

  .app-container.light
    .app-header-nav
    > .app-header-nav-actions
    > .app-header-nav-action {
    color: #1d1d1d;
  }

  .app-header-nav > .app-header-nav-actions > .app-header-nav-action:hover {
    transition: color 0.3s ease-in;
    color: #3398eb;
  }

  .app-header-nav-action > .app-header-nav-action-icon {
    transition: stroke 0.3s ease-in;
    stroke: #f1f1f1;
  }

  .app-container.light .app-header-nav-action > .app-header-nav-action-icon {
    stroke: #1d1d1d;
  }

  .app-header-nav-action:hover > .app-header-nav-action-icon {
    transition: stroke 0.3s ease-in;
    stroke: #3398eb;
  }

  .app-header-extras > .app-by {
    display: none;
  }

  .app-header-extras .app-header-clock {
    display: none;
  }

  .app-header > .app-header-extras {
    justify-content: flex-end;
  }

  .app-header-extras .app-header-nav-toggle {
    display: unset;
    stroke: #f1f1f1;
  }

  .app-container.light .app-header-extras .app-header-nav-toggle {
    stroke: #1d1d1d;
  }
}
