.app-container .app-nav {
  background: #181818;
  width: 60px;
  transition: width 0.3s ease-in;
}

.app-container .app-nav.expanded {
  width: 220px;
  transition: width 0.3s ease-in;
}

.app-nav > .app-nav-actions > .app-nav-toggle {
  display: flex;
  padding: 6px 20px;
  height: 48px;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
  border-bottom: 1px solid #fff;
}

.app-nav > .app-nav-actions > .app-nav-action {
  display: grid;
  grid-template-columns: 48px min-content;
  padding: 6px;
  height: 48px;
  align-items: center;
  justify-items: center;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in, background 0.3s ease-in;
}

.app-nav > .app-nav-actions > .app-nav-action:hover,
.app-nav > .app-nav-actions > .app-nav-action.active {
  transition: color 0.3s ease-in, background 0.3s ease-in;
  background: #1d1d1d;
  color: #3398eb;
}

.app-nav-toggle > .app-nav-action-icon,
.app-nav-action > .app-nav-action-icon {
  transition: stroke 0.3s ease-in;
  stroke: white;
}

.app-nav-action:hover > .app-nav-action-icon,
.app-nav-action.active > .app-nav-action-icon {
  transition: stroke 0.3s ease-in;
  stroke: #3398eb;
}

.app-nav-action > .app-nav-action-text {
  width: 160px;
}
